<div class="jumbotron text-center">
  <h1 class="display-3">{{title}}</h1>
  <p class="lead">Follow projects and their technologies</p>
  <a href="/projects/add" class="btn btn-dark btn-lg">Add project</a>
</div>